@import '../../styles/mixins';

.header {
  background-color: skyblue;
  padding: 20px 0;
  font-family: sans-serif;

  &__info{
    margin: 0 auto;
    max-width: 1000px;
    @include respond(laptop) {
      @include flex();
    }
  }

  &__title{
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 10px;
  }

  &__subtitle{
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 10px;
    @include respond(laptop) {
      margin-bottom: 0;
      margin-right: 50px;
    }
  }

  &__list {
    @include respond(laptop) {
      @include flex();
    }
  }

  .item {
    @include respond(laptop) {
      margin-left: 10px;
    }


    &:first-child {
      margin-left: 0;
    }

    &__text {
      margin: 0 5px;
    }

    &__title {
      font-weight: 700;
      text-transform: uppercase;
    }

    &__value {
      font-weight: 700;
    }
  }
}